.superhero_grid{
    max-width: 1000px;
    margin: auto;
    display: grid;
     grid-template-columns: repeat(auto-fill, 200px); 
    /* grid-template-columns: repeat(auto-fill, minmax 1fr); */

    gap:1rem;
};